<!-- About Us Section -->
 <nav class="navbar">
  <ul>
    <li><a routerLink="/"> الرئيسية</a></li>
    <li><a routerLink="/about"> من نحن </a></li>
    <li><a routerLink="/contact">اتصل بنا

</a></li>
  </ul>
</nav>
<section class="about-section" dir="rtl">
  <h2 class="section-title">منصة تعليمية تونسية مبتكرة</h2>

  <p class="about-intro">
    تعتمد على تقنيات <strong>الذكاء الاصطناعي</strong>، ومصممة خصيصًا للأطفال من مختلف المستويات الدراسية
    لتمكينهم من مراجعة دروسهم بطريقة <span class="highlight">ذكية، ممتعة، وتفاعلية</span>  </p>

  <div class="features-wrapper">
    <div class="feature-card wow">
      <img src="/assets/images/document.png" alt="ملخصات مبسطة" />
      <h3>ملخصات مبسطة</h3>
      <p>تلائم عمر الطفل ومستواه الدراسي</p>
    </div>

    <div class="feature-card wow delay-1">
      <img src="/assets/images/bot.png" alt="اسأل الذكاء الاصطناعي" />
      <h3>اسأل الذكاء الاصطناعي</h3>
      <p>أسئلة بإجابات فورية ومفهومة</p>
    </div>

    <div class="feature-card wow delay-2">
      <img src="/assets/images/choose.png" alt="تمارين تفاعلية" />
      <h3>تمارين تفاعلية & Quiz</h3>
      <p>لتثبيت المعلومات بطريقة ممتعة</p>
    </div>

    <div class="feature-card wow delay-3">
      <img src="/assets/images/tunisia.png" alt="واجهة استخدام سهلة" />
      <h3>واجهة سهلة</h3>
      <p>واجهة عربية مع دعم للهجة التونسية</p>
    </div>
  </div>
</section>
