<div class="select-class-page">
  <div class="avatar-container">
    <img src="/assets/images/read.png" alt="User Avatar" class="avatar" />
  </div>

  <div class="center-container">
    <h2 class="instruction">الرجاء اختيار المادة</h2>

    <div class="class-container">
      <div
        class="class-box"
        *ngFor="let subject of subjects; let i = index"
        [ngStyle]="{ 'background-color': colors[i % colors.length] }"
        (click)="selectSubject(subject.value)"
      >
        <img [src]="'assets/images/' + subject.image" alt="{{subject.name}}" />
        <p>{{ subject.name }}</p>
      </div>
    </div>
  </div>
</div>
