<div class="landing-container">
  <div class="images-wrapper">
    <div class="center-image-box">
      <img src="/assets/images/corgi.png" alt="صورة جانبية" class="side-image" />
    </div>
  </div>

  <h2>مرحبا بكم!</h2>
  <p class="encouragement">
جهّز روحك، استعد، وانطلق في مغامرة جديدة مليانة تحديات ومتعة! </p>

  <!-- Voltage button -->
  <div class="voltage-button" >
   <button (click)="goToSignIn()"> ابدأ الآن</button> 

    <svg viewBox="0 0 100 40" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
      <path class="line-1" d="M0 20 L100 20" stroke-width="2" stroke-linecap="round"/>
      <path class="line-2" d="M0 10 L100 10" stroke-width="2" stroke-linecap="round"/>
    </svg>
    <div class="dots">
      <div class="dot dot-1"></div>
      <div class="dot dot-2"></div>
      <div class="dot dot-3"></div>
      <div class="dot dot-4"></div>
      <div class="dot dot-5"></div>
    </div>
  </div>
</div>
