.finished-container {
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    #FFFAB7 0%,
    #FFD1E3 33%,
    #7EA1FF 66%,
    #5BBCFF 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  font-family: 'El Messiri', sans-serif;
  gap: 2rem;
  background-attachment: fixed;
}


@keyframes animateBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.celebrate-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shine-box {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(126, 161, 255, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.shine-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 50px rgba(91, 188, 255, 0.9);
}

.finish-img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
}

h2 {
  font-size: 2rem;
  color: #00196b;
  font-weight: bold;
  font-family: 'FredFredburgerARAHeadBlack', sans-serif;
}

.finished-text {
  max-width: 500px;
  font-size: 1rem;
  color: #140101;
  line-height: 1.6;
  font-family: 'FredFredburgerARAHeadBlack', sans-serif;
}

.go-home button {
  background: #FFD1E3;
  color: #131201;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'El Messiri', sans-serif;
  font-family: 'FredFredburgerARAHeadBlack', sans-serif;
}

.go-home button:hover {
  background-color: #FFFAB7;
  transform: scale(1.05);
}
